body {
	letter-spacing: 1px;
	font-family: regular;
}

.compact {
	margin: 0;
	padding: 0;
}

p {
	letter-spacing: 0;
}

table.datagrid td {
	letter-spacing: 0;
	font-size: 16px;
}

table.datagrid td.location {
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	width: 4%;
}

table.datagrid td.align {
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	width: 16%;
}

table.datagrid td.translator {
	font-weight: bold;
	font-size: 14px;
	padding: 2px 2px;
	width: 6%;
}

table.datagrid td.content {
	font-family: monospace;
	margin: 0px !important;
	padding: 0px !important;
	width: 37%; /* before align width: 47%; */
	display: inline !important;
}

table.datagrid td.source {
	font-family: monospace;
	margin: 0px !important;
	padding: 0px !important;
	width: 37%; /* before align width: 47%; */
}
