.row
  .large-5.columns.large-centered
    %ul.inline-list.centered_inline_list
      %li
        &nbsp;
      %li
        &nbsp;
      %li
        &nbsp;
      %li
        &nbsp;

.row
  .large-8.columns.large-centered
    %p.text-center
      Ters Ütopya Yazını Çevirisi Tez Çalışması
      %br
      Hiç bir hakkı saklı değildir.
